{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-extra-semi": "off",
    "jsx-a11y/img-redundant-alt": "off",
    "no-unused-vars": "warn",
    "no-console": "off",
    "react/prop-types": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "react/jsx-no-duplicate-props": "error",
    "react/no-unknown-property": "warn",
    "react/jsx-key": "error"
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
